body {
    background-color: lightskyblue;
}

div{
    background-color: cadetblue;
    padding: 5px;
    border: 1.5px blue;
    border-radius: 8%;
    margin: 5px;
}

#shop{
    float:left;
}

#bank{
    float: right;
}