body {
    background-color: lightcyan;
    text-align: center;
}

p {
    text-decoration: underline;
}

.container {
    display: flex;
    padding: 5px;
    margin: 5px;
}

.mainClicker {
    padding: 5px;
    margin: 5px;
}

#shop, #bank, #achievements {
    padding: 5px;
    border: 1.5px black solid;
    border-radius: 8%;
    margin: 5px;
    flex: 1;
    background-color: white;
}

button {
    border: none;
    background-color: darkgreen;
    border-color: darkgreen;
    padding: .5rem .75rem;
    border-radius: .25rem;
    color: white;
    font-size: 1rem;
}